{% load static %}
<tr>
	<td>
		<div class="product-item">
			<a href="#" class="product-thumb"><img src="{% static 'theme/img/shop/cart/01.jpg' %}" alt=""></a>
			<div class="product-info">
				<h4 class="product-title">
					<a href="#">${item.product.title}</a>
				</h4>
				<span><em>옵션:</em> ${item.option.title}</span>
				<span><em>수량:</em> ${item.quantity}</span>
				<span><em>가격:</em> ${item.option.price * item.option.unit * item.quantity | currency}원</span>
			</div>
		</div>
	</td>
	<td class="text-center">
		<a @click="remove(item.option.pk)" class="remove-from-cart" style="cursor: pointer;"><i class="material-icons icon_close"></i></a>
	</td>
</tr>