{% extends 'base.html' %}

{% block content %}
<div class="page-title">
  <div class="container">
    <h1>
			{% if cur_small_category %}
	      {{ cur_small_category.title }}
	    {% elif cur_middle_category %}
	      {{ cur_middle_category.title }}
	    {% elif cur_top_category %}
	      {{ cur_top_category.title }}
	    {% endif %}
    </h1>
    <ul class="breadcrumbs">
      <li>
	      <a href="{% url 'index' %}">Home</a>
	      <li class="separator">&nbsp;&nbsp;>&nbsp;</li>
      </li>
	    {% for item in breadcrumbs %}
		    <li>
		      {% if item.href %}
			    <a href="{{ item.href }}">{{ item.title }}</a>
		      {% else %}
		      <span>{{ item.title }}</span>
		      {% endif %}
		      {% if not forloop.last %}
		      <li class="separator">&nbsp;&nbsp;>&nbsp;</li>
		      {% endif %}
		    </li>
	    {% endfor %}
    </ul>
  </div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-xl-2 col-lg-3 col-md-4 order-md-1">
			{% include 'include/index/sidebar.html' %}
		</div>
		<div class="col-xl-10 col-lg-9 col-md-8 order-md-2">
			{% block product-content %}
			{% endblock %}
		</div>
	</div>
</div>
{% endblock %}