{% load static %}
<div class="table-responsive shopping-cart mb-0">
	<table class="table">
		<thead>
			<tr>
				<th colspan="2">
					<div class="d-flex justify-content-between align-items-center">
						장바구니 상품 목록
						<!-- Cart page link -->
						<a href="#" class="navi-link text-uppercase">
							<span class="text-xxs">상세보기</span>
							<i class="material-icons keyboard_arrow_right"></i>
						</a>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr is="cart-product" :cart-item.sync="item" v-for="(item, index) in cartItems" :key="index"></tr>
		</tbody>
	</table>
</div>
<hr class="mb-3">
<div class="d-flex flex-wrap justify-content-between align-items-center">
	<div class="pr-2 py-1 text-sm">
		장바구니 합계: <span class="text-dark text-medium">${cartTotalAmount | currency}</span>
	</div>
	<a href="#" class="btn btn-sm btn-success mb-0 mr-0">주문하기</a>
</div>