{% extends 'products/base.html' %}
{% load static %}

{% block product-content %}
<div class="product-category-middle-container">
	<div class="row">
		{% for middle_category in top_category.sub_categories.all %}
		<div class="col-lg-6 col-sm-12 mb-3 index-category-item">
			<a href="#" class="category-card flex-wrap">
				<div class="category-card-info align-self-center">
					<h3 class="category-card-title text-center">{{ middle_category.title }}</h3>
					<h4 class="category-card-subtitle">Starting from $269.00</h4>
				</div>
				<div class="category-card-thumb">
					<img src="{% static 'theme/img/shop/categories' %}/0{{ forloop.counter }}.jpg" alt="">
				</div>
			</a>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}