html, body {
    font-family: 'Apple SD Gothic Neo', 'Gothic A1', sans-serif;
    //font-family: 'Gothic A1', sans-serif;
}
.page-title {
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 30px;

  h1 {
    margin-bottom: 8px;
    font-size: 30px;
  }
}
.table th, .table td {
  vertical-align: middle;

  .btn-sm {
    margin-top: 0;
    margin-bottom: 0;
    height: 24px;
    line-height: 16px;
  }
}
