html, body {
    font-family: 'Apple SD Gothic Neo', 'Gothic A1', sans-serif;
    //font-family: 'Gothic A1', sans-serif;
}
#main-left li.main-category-item.has-children li {
    margin-bottom: 0;
}
section.index-category-container  {
    .top-category-title {
        margin-bottom: 6px;
    }
    .index-category-item {
        padding-right: 8px;
        padding-left: 8px;

        .category-card {
            padding: 10px 15px;

            .category-card-title {
                font-size: 20px;
                margin-bottom: 8px;
            }
            .category-card-subtitle {
                font-size: 12px;
            }
            .category-card-thumb {
                max-width: 120px;
            }
        }
    }
}
header.top-nav {
    border-bottom: 1px solid #f3f3f3;
}