@import 'base';
@import 'custom';

// Index
#main-left li.main-category-item.has-children li {
    margin-bottom: 0;
}
section.index-category-container  {
    .top-category-title {
        margin-bottom: 6px;
    }
    .index-category-item {
        padding-right: 8px;
        padding-left: 8px;

        .category-card {
            padding: 10px 15px;

            .category-card-title {
                font-size: 20px;
                margin-bottom: 8px;
            }
            .category-card-subtitle {
                font-size: 12px;
            }
            .category-card-thumb {
                max-width: 120px;
            }
        }
    }
}
header.top-nav {
    border-bottom: 1px solid #f3f3f3;
}

// ProductCategory
.product-category-middle-container {
    .category-card {
        padding: 20px;
        .category-card-thumb {
            max-width: 200px;
        }
    }
}

// Table
.table-bordered-inner {
  tr {
    th, td {
      border-right: 1px solid #dee2e6;

      &:last-child {
        border-right: none;
      }
    }
  }
}

// Card
.card > .card-body.pd-0 {
    padding: 0;
}
.card > .card-body > .product-info {
    display: flex;
    flex-direction: row;
    margin-bottom: -1px;

    &.pd-0 {
        padding: 0;
    }

    > .card-img-body-left {
        height: 150px;
    }
    > .body-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1.25rem;
    }
}
// Table
.table-sm {
  font-size: 0.8rem;
}