{% load static sass_tags %}
<!doctype html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{% block title %}GreenWrap{% endblock %}</title>
	<link href="https://fonts.googleapis.com/css?family=Gothic+A1" rel="stylesheet">
{#	<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">#}
	<link rel="stylesheet" href="{% static 'theme/css/vendor.min.css' %}">
	<link rel="stylesheet" href="{% static 'theme/css/styles.min.css' %}">
	<link rel="stylesheet" href="{% sass_src 'scss/style.scss' %}">
	<script src="{% static 'theme/js/modernizr.min.js' %}"></script>
	<script src="{% static 'js/vue.js' %}"></script>
	<script src="{% static 'js/axios.js' %}"></script>
	{% block head %}
	{% endblock %}
</head>
<body>
	<div id="wrap">
		<div id="app">
			<header class="top-nav navbar navbar-sticky">
				<!-- Site Branding -->
				{% include 'include/header/site-branding.html' %}

				<!-- Main Navigation -->
				{% include 'include/header/main-navigation.html' %}

				<!-- Toolbar -->
				{% include 'include/header/toolbar.html' %}
			</header>

			<div id="content">
				{% block content %}
				{% endblock %}
			</div>
		</div>
		<script src="{% static 'theme/js/vendor.min.js' %}"></script>
    <script src="{% static 'theme/js/scripts.min.js' %}"></script>
		{% block script %}
		{% endblock %}
		<script>
			var baseURL = '/api';
			var urlCart = baseURL + '/orders/cart/';
			Vue.component('cartProduct', {
			  delimiters: ['${', '}'],
			  props: ['cartItem'],
				template: '{% spaceless %}{% include 'components/cart_item.html' %}{% endspaceless %}',
				computed: {
				  item: function () {
				    return this.cartItem
          }
        }
			});
			Vue.filter('currency', function (value) {
		    return new Intl.NumberFormat('ko-KR', { style: 'currency', currency: 'KRW' }).format(value);
		  });

			var vm = new Vue({
				el: '#app',
				delimiters: ['${', '}'],
				data: {
				  cart: {}
				},
				created: function () {
				  this.getCart();
				},
				methods: {
				  getCart: function () {
				    const vm = this;
					  axios({
						  method: 'get',
						  url: urlCart
					  }).then(function (response) {
							vm.cart = response.data;
					  }).catch(function (response) {
							console.log(response);
					  });
				  },
					addCartItem: function (productOptionID, quantity) {
						const vm = this;
						axios({
							method: 'post',
							url: urlCart,
							data: {
							  product_option: productOptionID,
								quantity: quantity
							}
						}).then(function (response) {
						  iziToast.success({
							  title: '상품이 장바구니에 담겼습니다',
							  position: 'topRight',
							  timeout: 1000,
							  class: 'iziToast-success'
						  });
						  vm.getCart();
						}).catch(function (response) {
						  console.log(response);
						})
					}
				},
				computed: {
				  cartItems: function () {
				    // Cart의 2차원구조를 1차원으로 변경
				    console.log(this.cart.amount);
				    if (!this.cart.items) {
				      return [];
				    }
				    var items = [];
				    for (var i = 0; i < this.cart.items.length; i++) {
				      var curItem = this.cart.items[i]
					    for (var j = 0; j < curItem.options.length; j++) {
				        var curOption = curItem.options[j];
					      var newItem = {
					        product: curItem.product,
						      option: curOption.option,
						      quantity: curOption.quantity
					      };
					      items.push(newItem);
					    }
				    }
				    return items;
				  }
				}
			});
		</script>
	</div>
</body>
</html>