{% load static sass_tags %}
<!doctype html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{% block title %}GreenWrap{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'theme/css/vendor.min.css' %}">
	<link rel="stylesheet" href="{% static 'theme/css/styles.min.css' %}">
	<link rel="stylesheet" href="{% sass_src 'scss/style.scss' %}">
	<script src=""{% static 'theme/js/modernizr.min.js' %}></script>
</head>
<body>
	<div id="wrap">
		<header class="navbar navbar-sticky">
			<!-- Site Branding -->
			{% include 'include/header/site-branding.html' %}

			<!-- Main Navigation -->
			{% include 'include/header/main-navigation.html' %}

			<!-- Toolbar -->
			{% include 'include/header/toolbar.html' %}
		</header>

		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
		<script src="{% static 'theme/js/vendor.min.js' %}"></script>
    <script src="{% static 'theme/js/scripts.min.js' %}"></script>
	</div>
</body>
</html>